body {
    margin: 0;
    background: pink;
    text-align: center;
  }

input[type=text].mainsearchbar {
    float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

p {
    background: blue;
    text-align: center;
}
